.l-side-nav {
  left: 0;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center; }

.l-main-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.l-section {
  position: absolute;
  width: 100%;
  height: 100%; }

.section {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility 0s .3s; }
  .section--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity .3s ease-in-out .3s; }

.side-nav {
  position: relative;
  display: flex;
  width: 800px;
  height: 50px;
  max-height: 50px;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  z-index: 10;
  list-style-type: none;
  vertical-align: middle;
  text-align: center; }
  .side-nav > * {
    user-select: none; }
  .side-nav > li {
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    align-self: auto;
    width: calc(100% / 5); }
  .side-nav span {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 0px 0px 15px #000; }
  .side-nav::before {
    position: absolute;
    top: 3px;
    left: 10px;
    color: #555;
    font-size: 14px;
    font-weight: 300; }
  .side-nav li.is-active {
    color: #0f33ff;
    transition: color .2s ease-in-out; }
    .side-nav li.is-active span {
      opacity: 1;
      visibility: visible;
      transition: opacity .2s ease-in-out;
      transition: all 0.05s ease-in-out;
      font-size: 1.2rem;
      font-weight: 500; }
