body {
  background-image: url("../img/thumb-1920-609408.png");
  background-color: rgb(44, 47, 51);
  background-size: cover;
  overflow-x: hidden;
}

.navbar {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;    
}

.btn-titlebar-close, .btn-titlebar {
  color: #ffffff;
}

.btn-titlebar-close:hover {
  color: #dc3545;
}

.btn-titlebar:hover {
  color: #cccccc;
}

.btn-titlebar:focus, .btn-titlebar-close:focus {
  box-shadow: 0 0 0 0;
}

.hero-img {
  max-width:100%;
  max-height:100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
      bottom: -300px;
      opacity: 0
  }

  to {
      bottom: 0;
      opacity: 1
  }
}

@keyframes slideIn {
  from {
      bottom: -300px;
      opacity: 0
  }

  to {
      bottom: 0;
      opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes fadeIn {
  from {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: .5s ease all;
}

.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: .5s ease all;
}

h1 {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

h1:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h1:hover:after {
  transform: scaleX(1);
}

h1.fromRight:after {
  transform-origin: 100% 50%;
}

h1.fromLeft:after {
  transform-origin: 0% 50%;
}

h1 {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

h1:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h1:hover:after {
  transform: scaleX(1);
}

h1.fromRight:after {
  transform-origin: 100% 50%;
}

h1.fromLeft:after {
  transform-origin: 0% 50%;
}

h1 {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

h1:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h1:hover:after {
  transform: scaleX(1);
}

h1.fromRight:after {
  transform-origin: 100% 50%;
}

h1.fromLeft:after {
  transform-origin: 0% 50%;
}

a {
  /*color: #666;*/
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #de1dde;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #de1dde;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #de1dde;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:hover:after {
  transform: scaleX(1);
}

a.fromRight:after {
  transform-origin: 100% 50%;
}

a.fromLeft:after {
  transform-origin: 0% 50%;
}

a.static {
  content: '';
  border-bottom: solid 3px #de1dde;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-animating .transition-fade {
  opacity: 0;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

