body {
  background-image: url("../img/thumb-1920-609408.png");
  background-color: rgb(44, 47, 51);
  background-size: cover;
  overflow-x: hidden;
}

.bg-transparent {
  background: rgba(0, 0, 0, 0.06) !important
}

.bg-transparent-dark {
  background: rgba(0, 0, 0, 0.25) !important
}

.bg-none {
  background: rgba(0,0,0,0) !important;
}

.titlebar-offset {
  margin-top: 31px;
}

.title-controls-dragarea {
  -webkit-app-region: drag;
  flex-grow: 1;
  height: 100%;
  padding-top: 4px;
}

.navbar {
  z-index: 50000;
  background: rgba(0, 0, 0, 0.06);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn-titlebar-close, .btn-titlebar {
  color: #ffffff;
  border-radius: 0px;
}

.btn-titlebar-close:hover {
  color: #dc3545;
  background: rgba(0, 0, 0, 0.05);
}

.btn-titlebar:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.05);
}

.btn-titlebar:focus, .btn-titlebar-close:focus {
  box-shadow: 0 0 0 0;
}

.hero-img {
  max-width:100%;
  max-height:100%;
}

#download-bar {
  position: absolute;
  width: 100vw;
  bottom: 0;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
} 

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.animate-bottom {
  position: relative;
  transition: linear;
  animation: animatebottom 0.4s;
}

.spinner-border {
  height: 1rem;
  width: 1rem;
}

#auth-indicator {
  color: #ffffff;

  cursor:default !important;
}

#auth-indicator:focus {
  box-shadow: 0 0 0 0;
}

#auth-indicator.flash {
  border: 1px solid #ffffff;
  transition: border 0.15s linear;
}

#auth-indicator-icon {
  transition: all 1s linear;
}

.spinning svg {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);

@keyframes animatebottom {
  from {
    bottom: -100vh;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
      bottom: -300px;
      opacity: 0
  }

  to {
      bottom: 0;
      opacity: 1
  }
}

@keyframes slideIn {
  from {
      bottom: -300px;
      opacity: 0
  }

  to {
      bottom: 0;
      opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes fadeIn {
  from {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: .5s ease all;
}

.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: .5s ease all;
}

h1 {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

h1:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h1:hover:after {
  transform: scaleX(1);
}

h1.fromRight:after {
  transform-origin: 100% 50%;
}

h1.fromLeft:after {
  transform-origin: 0% 50%;
}

h1 {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

h1:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h1:hover:after {
  transform: scaleX(1);
}

h1.fromRight:after {
  transform-origin: 100% 50%;
}

h1.fromLeft:after {
  transform-origin: 0% 50%;
}

h1 {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

h1:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h1:hover:after {
  transform: scaleX(1);
}

h1.fromRight:after {
  transform-origin: 100% 50%;
}

h1.fromLeft:after {
  transform-origin: 0% 50%;
}

a {
  /*color: #666;*/
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #de1dde;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #de1dde;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #de1dde;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:hover:after {
  transform: scaleX(1);
}

a.fromRight:after {
  transform-origin: 100% 50%;
}

a.fromLeft:after {
  transform-origin: 0% 50%;
}

a.static {
  content: '';
  border-bottom: solid 3px #de1dde;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-animating .transition-fade {
  opacity: 0;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

