// section transition styles
.section {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility 0s .3s;

  &--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity .3s ease-in-out .3s;
    
  }
}